html,
body,
body > div,
.app,
.optionsPage {
  padding: 0;
  margin: 0;
  background-color: #395b64;
  height: 100%;
  max-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* when internet comes back look up how to make vars
for css */
.home {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  color: #0d0e0e;
}
.home h2 {
  font-size: 22px;
}
.home button {
  border-radius: 17px;
  padding: 0.5rem;
  background-color: #a5c9ca;
  border-color: #12272d;
  font-size: 13px;
  font-weight: 600;
}
.home button:hover {
  background-color: #53898c;
  color: white;
  border-color: white;
}
.optionsPage {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.options {
  margin-top: 5rem;
  align-self: center;
  display: grid;
  /* padding: 7rem 18rem; */
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 2rem;
}
.options > div {
  min-height: 4rem;
  min-width: 10rem;
  max-height: 5rem;
  max-width: 16rem;
  background-color: #a5c9ca;
  border-radius: 10px;
  text-align: center;
}
.questionsContainer {
  justify-content: center;
  display: flex;
  align-content: center;
}
.questionsContainer button {
  margin-top: 8rem;
  max-height: 1.9rem;
  max-width: 8.5rem;
}
.answerChoices {
  display: grid;
  align-self: center;
  /* padding: 7rem 18rem; */
  margin-top: 2rem;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 2rem;
  /* min-height: 100vh; */
}
.score {
  text-align: center;
}
.middleContainer {
  display: flex;
  flex-direction: column;
}
.startButton {
  /* display: flex; */
  margin-left: 45%;
  margin-top: 4rem;
}
