:root {
  --main-bg-color: #d3d3d3;
  --main-font-color: #c1dbe3;
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
  font-size: 17px;
  line-height: 22px;
  /* max-width: 100vw; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  margin: 0;
  height: 100%;
}
/* when internet comes back look up how to make vars
for css */

.navbar {
  /* margin: 0.3rem 0; */
  padding: 0.2rem 0;
  background-color: rgb(19, 19, 19);
  border-bottom: 2px solid #312f2f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  color: var(--main-font-color);
  height: 3rem;
  /* padding-bottom: 1rem; */
}
.navbar ul {
  margin-top: 1rem;
  /* padding: 0;  */
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  align-items: center;
  height: 1rem;
}
.navbar li {
  width: 20%;
}
.navbar ul a,
.optionsPage .options div > a {
  text-decoration: none;
  /* font-size: 14px; */
}
.navbar ul > li:first-of-type {
  margin-right: 60%;
}
.navbar ul a:hover {
  color: #d7907b;
}
.navbar a:visited,
.options > div a:visited {
  color: var(--main-font-color);
}

.home {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(19.2, 18.4, 18.4, 0.7); */
  height: calc(100% - 3rem);
  /* width: 85%; */
  padding: 0 1rem;
  margin: 0 auto;
  /* margin-top: 2rem; */
  justify-content: center;
  border-radius: 15px;
  align-content: center;
  /* box-shadow: -1em 0 0.4em #c1dbe3, 1em 0 0.4em #c1dbe3; */
  color: black;
}
.homeContainer {
  display: flex;
  height: calc(100% - 3rem);
}
.home h1 {
  font-size: 1.7rem;
}
.home h2 {
  font-size: 1.2rem;
  color: #d7907b;
}
.home button {
  border-radius: 17px;
  padding: 0.5rem;
  /* background-color: var(--main-font-color); */
  border: 3px solid var(--main-bg-color);
  color: #e5625e;
  font-size: 18px;
  font-weight: 600;
}
.home button:hover,
.lobby button:hover {
  background-color: #e5625e;
  color: white;
  border-color: var(--main-font-color);
}
.mainLogo {
  max-height: 7.6rem;
  min-height: 1rem;
  width: auto;
  max-width: 70%;
  padding: 1.5rem 0 1rem 1.8rem;
  /* margin: 0.1rem; */
  /* margin: 0 auto; */
}
.optionsPage {
  color: rgb(117, 136, 143);
  /* text-align: center; */
  display: flex;
  /* flex-direction: column; */
  /* background-color: rgba(19.2, 18.4, 18.4, 0.7); */
  /* width: 85%; */
  /* margin: 2rem auto 0 auto; */
  height: calc(100% - 3rem);
  /* border-radius: 15px; */
  /* box-shadow: -1em 0 0.4em #c1dbe3, 1em 0 0.4em #c1dbe3; */

  /* justify-content: space-around; */
}
.options {
  margin-top: 5rem;
  align-self: center;
  display: grid;
  /* padding: 7rem 18rem; */

  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 2rem;
}
.options > div {
  border: 2px solid gray;
  background-color: black;
  /* min-width: 5rem;
  max-height: 5rem;
  max-width: 18rem; */
  height: 100%;
  width: 8rem;
  border-radius: 5px;
  text-align: center;
  padding: 0 0.4rem;
  padding-top: 0.3rem;
  /* font-size: 16px; */
}

.quizPage {
  color: #61787d;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  /* background-color: rgba(19.2, 18.4, 18.4, 0.7); */
  /* margin: 2rem auto 0 auto; */
  height: calc(100% - 3rem);
  /* border-radius: 15px; */
  /* box-shadow: -1em 0 0.4em #c1dbe3, 1em 0 0.4em #c1dbe3; */
}
.questionsContainer {
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.questionsContainer h2,
.optionsPage h2 {
  /* width: 100%; */
  text-align: center;
  padding: 1rem 1.2rem 0 1.2rem;
  line-height: 2.4rem;
}
.questionsContainer svg {
  /* margin: 8rem 1rem 0 1rem; */
  min-width: 4rem;
  max-height: 2.6rem;
  max-width: 6rem;
}
.answerChoices {
  margin-top: 5rem;
  display: grid;
  align-self: center;
  /* padding: 7rem 18rem; */
  margin: 0 4rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 2rem;

  /* margin-top: 2rem; */
  /* min-height: 100vh; */
}
.score {
  text-align: center;
}
.middleContainer {
  display: flex;

  /* justify-content: space-around; */
  /* flex-direction: column; */
}
.indivAnswerOption {
  color: white;
  background-color: black;
  border: 3px solid rgb(19, 19, 19);
  /* height: 4rem; */
  /* padding: 0 1rem; */
  padding: 0 0.4rem;
  padding-top: 1rem;
  /* min-width: 5rem;
  max-height: 5rem;
  max-width: 18rem; */

  height: 90%;
  width: 8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  /* padding: 0 2rem; */
}
.quizPage .answerChoices p:hover,
.optionsPage .options div:hover {
  background-color: rgb(71, 71, 71);
  color: #d7907b;
}
.optionsPage .options a:hover {
  color: #d7907b;
}
.quizPage svg:hover {
  /* border: 2px solid gray; */
  max-height: 2.6rem;
  cursor: pointer;
}
.quizPage .answerChoices .selectedAnswer {
  background-color: rgb(148, 144, 144);
}
.indivAns .selectedAnswer {
  border-color: #d7907b;
  color: rgb(19, 19, 19);
}
.rightAnswer {
  background-color: #828c51;
  color: black;
}
.wrongAnswer {
  background-color: #942911;
}
.hidden {
  visibility: hidden;
}
.questionsContainer .submitButton {
  margin: 0;
  /* margin-top: 1rem; */
  min-height: 3rem;
  max-height: 5rem;
}
.questionsContainer .submitButton:hover {
  /* max-height: 6rem; */
  min-height: 3.2rem;
  width: auto;
}
.selectedText {
  display: inline-block;
}
.rightAnswer .selectedText,
.selectedText {
  width: 100%;
  padding-top: 1rem;
  color: white;
}
.quizPage .questionsContainer .answerChoices .nonSubmitted {
  color: #61787d;
}
.loadingGif {
  min-width: 5rem;
  max-width: 12rem;
  height: auto;
  padding-top: 7rem;
  margin: 0 auto;
}
.quizButtons {
  display: flex;
  margin-top: 5rem;
}
.quizButtons > img {
  margin: 0 1.4rem;
}
.quizButtons > .startButton {
  /* display: flex; */
  padding: 0;
  margin-left: 45%;
  margin-top: 4rem;
}
.lobby {
  width: 25%;
  /* height: calc(100% - 3rem); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1.4rem 1rem;
  color: var(--main-font-color);
  background-color: #61787d;
  /* border-radius: 10px 0 0 10px; */
}
.lobby p {
  width: 100%;
}
/* .lobby input {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
} */
.quizSection,
.optionsSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.lobby input {
  border-radius: 10px;
  width: 90%;
  padding: 0.6rem 0;
  margin: 0.6rem 0;
}
.optionsSection input {
  border-radius: 10px;
  padding: 0.6rem 0;
  margin: 0.6rem 0;
}

.lobby button {
  border-radius: 15px;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: 3px solid var(--main-bg-color);
  color: #e5625e;
}
.options div > svg {
  width: 50%;
  /* display: block; */
}
.scores {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 45%;
  height: auto;
  margin: 2rem auto;
  padding: 0.6rem 0;
  border-radius: 15px;
  background-color: rgb(71, 71, 71, 0.2);
  color: black;
}

@media only screen and (max-width: 800px) {
  .quizPage,
  .optionsPage,
  .homeContainer {
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* height: 100%; */
  }
  .options {
    margin: 1rem 0;
  }
  .optionsPage h2 {
    margin-top: 0.5rem;
    padding: 0;
    line-height: 1.4rem;
    font-size: 1rem;
  }
  /* .optionsSection {
    margin: 0;
    padding: 0;
  } */
  .answerChoices {
    margin: 0;
  }
  .lobby {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0.2rem;
    margin: 0;
    line-height: 0.6rem;
    font-size: 0.9rem;
  }
  .lobby input {
    width: 65%;
    padding: 0.2rem 0;
    margin: 0.3rem 0.6rem;
  }
  /* .lobby input:first-of-type {
    margin-right: 9rem;
  } */
  .mainLogo {
    padding: 0;
    max-height: 4.6rem;
  }
  .lobby button {
    margin: 0.5rem 0;
  }
  .navbar ul > li:first-of-type {
    margin-right: 30%;
  }
  /* .quizPage h2 {
    line-height: 1rem;
  } */
}
